<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset("styles/reset.css")}}">
        <link rel="stylesheet" href="{{asset("styles/look.css")}}"
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav id="navbar">
            <div id="left">
                {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted ('ROLE_ADMIN')%}
                    <a href="{{ path('admin') }}" class="nav-item">Admin</a>
                {% endif %}
            </div>
            <div class="right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="not-registered">
                        <a href="{{ path('app_logout') }}" class="nav-item">Se déconnecter</a>
                    </div>
                {% else %}
                    <div class="registered">
                        <a href="{{ path('app_register') }}" class="nav-item">S'enregistrer</a>
                        <a href="{{ path('app_login') }}" class="nav-item">Se connecter</a>
                    </div>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
